<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DEKS-BG</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!--    //style-sub-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body class="container m-md-auto">

<header th:fragment="nav" th:class="header-main">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/">
            <img src="../../images/Deks_Logo_Vector_Blue1.png" class="logo-nav">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/orders/all}">Поръчки</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/reports/all}">Отчети/Оферти</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/profile}">Моят Профил</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('MANAGER')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Admin Панел
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDrodownMenuLink">
                        <a class="dropdown-item" th:href="@{/statistics}">ДБ Статистики</a>
                        <a class="dropdown-item" th:href="@{/users/all}" sec:authorize="hasRole('ADMIN')">Всички Потребители</a>
                        <a class="dropdown-item" th:href="@{/users/register}">Добави Потребител
                            <i class="fas fa-user-plus"></i>
                        </a>

                    </div>
                </li>
                <ul class="navbar-nav mr-md-auto collapse navbar-collapse justify-content-end">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="form-inline my-2 my-lg-0 px-3">
                            <div class="nav-item text-white">Добре дошъл,
                                <th:block sec:authentication="name"></th:block>
                                !
                            </div>
                            <form th:action="@{/users/logout}" th:method="post">
                                <input class="logout-btn" type="submit" value="изход">
                            </form>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/users/login">
                            <i class="bi bi-door-open"></i>
                            Вход
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
</header>

<div th:fragment="reports-nav" class="reports-nav">
    <section>
       <a href="/reports/add"><button class="reports-navbar-button reports-navbar-btn-left">Нов</button></a>
       <a href="/reports/all"><button class="reports-navbar-button reports-navbar-btn-middle">Всички</button></a>
       <a href="/reports/archive"><button class="reports-navbar-button reports-navbar-btn-right">Архив</button></a>
    </section>
</div>
<div th:fragment="reports-nav-add" class="reports-nav">
    <section>
       <a href="/reports/add"><button class="reports-navbar-button reports-navbar-btn-left navbar-btn-active">Нов</button></a>
       <a href="/reports/all"><button class="reports-navbar-button reports-navbar-btn-middle">Всички</button></a>
       <a href="/reports/archive"><button class="reports-navbar-button reports-navbar-btn-right">Архив</button></a>
    </section>
</div>
<div th:fragment="reports-nav-all" class="reports-nav">
    <section>
       <a href="/reports/add"><button class="reports-navbar-button reports-navbar-btn-left">Нов</button></a>
       <a href="/reports/all"><button class="reports-navbar-button reports-navbar-btn-middle navbar-btn-active">Всички</button></a>
       <a href="/reports/archive"><button class="reports-navbar-button reports-navbar-btn-right">Архив</button></a>
    </section>
</div>
<div th:fragment="reports-nav-archive" class="reports-nav">
    <section>
       <a href="/reports/add"><button class="reports-navbar-button reports-navbar-btn-left">Нов</button></a>
       <a href="/reports/all"><button class="reports-navbar-button reports-navbar-btn-middle">Всички</button></a>
       <a href="/reports/archive"><button class="reports-navbar-button reports-navbar-btn-right navbar-btn-active">Архив</button></a>
    </section>
</div>


<div th:fragment="orders-nav" class="orders-nav">
    <section>
        <a href="/orders/add"><button class="orders-navbar-button orders-navbar-btn-left">Нов</button></a>
        <a href="/orders/all"><button class="orders-navbar-button orders-navbar-btn-right">Всички</button></a>
    </section>
</div>
<div th:fragment="orders-nav-add" class="orders-nav">
    <section>
        <a href="/orders/add"><button class="orders-navbar-button orders-navbar-btn-left navbar-btn-active">Нов</button></a>
        <a href="/orders/all"><button class="orders-navbar-button orders-navbar-btn-right">Всички</button></a>
    </section>
</div>
<div th:fragment="orders-nav-all" class="orders-nav">
    <section>
        <a href="/orders/add"><button class="orders-navbar-button orders-navbar-btn-left">Нов</button></a>
        <a href="/orders/all"><button class="orders-navbar-button orders-navbar-btn-right navbar-btn-active">Всички</button></a>
    </section>
</div>

<div th:fragment="profile" class="overtime-nav">
    <a type="button" class="profile-btn btn--white btn-dark" href="/overtime">Add Overtime</a>
    <a type="button" class="profile-btn btn--white btn-dark" href="/my-overtime">My Overtime</a>
    <a type="button" class="profile-btn btn--white btn-dark" href="/overtime-archive">My Archive Overtime</a>
    <a type="button" class="profile-btn btn--white btn-dark" href="/overtimes"
       sec:authorize="hasRole('MANAGER')">All Overtime</a>
</div>

<footer class="footer py-3" th:fragment="footer">
    <footer class="footer">
        <div class="footer__logo-box">
            <span class="footer-text">Teodor Dimitrov &copy; SoftUni Spring 2021</span><br>
            <span class="footer-text">All rights reserved</span>
        </div>
        <div class="row">
            <div class="col-1-of-2">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">Api version: v1.5.0</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</footer>
</body>
</html>