.navbar{
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}
.navbar-nav{
    align-items: center;
}
.logout-btn{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
