.orderAdded{
    overflow: hidden;
    /*white-space: nowrap;*/
    /*max-width: 133px;*/
    /*resize: none;*/
    /*background: black;*/
}

.submitOrder{
    display: flex;
    margin-left: 40px;
}

.td_order_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*.td_order_container>p:first-child {*/
/*    align-self: center;*/
/*}*/
/*.td_order_container>a:first-child {*/
/*    align-self: flex-start;*/
/*}*/
