.orders-nav {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.orders-nav section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.orders-navbar-button {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
    border: 1px solid #bbb9b9;
    box-shadow: #3f3f40 0.2rem 0.3rem;
}

.orders-nav a {
    text-decoration: none;
    text-shadow: 50px 30px 150px #eeab5d;
}

.orders-navbar-btn-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.orders-navbar-btn-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.orders-navbar-btn-left, .orders-navbar-btn-middle, .orders-navbar-btn-right {
    background-color: #343a40;
    color: white;
    transition: 1s;

    &:hover {
        background-color: #fdfdfd;
        color: black;
        border: 2px solid #eeab5d;
    }
}