.profile-btn{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    margin: 1rem 0.5rem;
    padding: 0 1rem;
    border: none;
    cursor: pointer
}
.profile-btn:hover{
    text-decoration: none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)

}
.container-profile{
    padding: 1rem 1rem 6rem 1rem;
    margin: 2rem 2rem 8rem 2rem;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    align-self: center;
    justify-content: center;
}
.aside {
    min-width: 1rem;
    border: solid;
    border-radius: 5px;
    box-shadow: 2px 5px 4px 5px #888888;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: #fcba79;
    /*background-color: #1896f9;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: baseline;
    flex-wrap: wrap;
}
.section-main{
    background-color: lightgray;

}

.user-data-field{

    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem;
    margin: 0.5rem;
    background-color: aliceblue;
    border-radius: 2px;

}

.btn-user-data-field{
    text-decoration: none;
    color: #343a40;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0.5rem;
    background-color: aliceblue;
    border-radius: 2px;

}
.btn-user-data-field:hover{
    color: #687179;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #9ec7f6;
    border-radius: 2px;

}
.main-form{
    font-size: 1rem;
}
.login{
    min-width: 250px;
    max-height: 40vh;
    font-size: 2rem;
    padding: 2.3rem 0.3rem;
    margin: 3rem 1rem;
}
.login-text{
    font-size: 1.4rem;
    font-weight: bold;
}