@import url('report-details.css');
@import url('reports-add.css');


.container-reports{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 960px;
    background-color: white;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    margin: 1rem;
}
.report {
    background-color: aliceblue;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    border-radius: 4px;

    width: 300px;
}

.report-body {
    background-color: #e7eaea;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.2rem;
    border-radius: 5px;
    font-size: 3rem;



}
.reports-nav{
    padding: 1rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.reports-nav div{
    display: flex;
    align-content: center;
    padding: 0.5rem 1rem;
}

.report-img {
    width: 200px;
    align-self: center;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
}

.report-body h3{
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
}
#status, #type{
    font-size: 1.5rem;
    padding: 0 0.5rem;
}
.link{
    text-decoration: none;
    color: #f6be3a;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;

}
.link:hover{
    text-decoration: none;
    color: #e79a00;
}
.wrapper-date{
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date-time{
    font-weight: bold;
    font-size: 1.2rem;

}
.p-text{
    font-size: 1.2rem;
}
.container-body-reports{
    /*height: 80vh;*/
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-self: center;
    align-items: center;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
}



@media only screen and (min-width: 1200px) {
    .reports-add-container {
        max-width: 70vw;
    }

}@media only screen and (max-width: 600px) {
    #searchInput{
        display: none;
    }
}