@import url("style-sub.css");
@import url("home.css");
@import url("login.css");
@import url("footer.css");
@import url("orders.css");
@import url("orders-add.css");
@import url("components.css");
@import url("error-pages.css");
@import url("reports-navbar.css");
@import url('reports-add.css');
@import url("reports.css");
@import url('report-details.css');
@import url("profile.css");
@import url("navbar.css");
@import url("overtime-nav.css");
@import url("overtime.css");


.body-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #687179;
    padding: 0;

}

.navbar-btn-active{
    background-color: white;
    color: black;
    &:hover{
        background-color: #3d3d3d;
        color: white;
    }
}

.wrapper {
  display: flex;
}
.all--view--Name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
}


.tr-header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
}

.tr-header>p {
    align-content: space-around;
}

.table-header{
    padding-bottom: 0;
}

#postPicture{
    margin-top: 40px;
}
.logo-nav{
    height: 3.0rem;
}
.net{
    color: #ef1414;
    font-weight: bold;
    border: solid 0.2rem;
}
.work{
    color: #000000;
    font-weight: bold;

}
.section__main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
    align-self: center;
}
.systems-div{
    display: flex;
}

.systems{
    color: #000000;
    text-decoration: underline;
    line-height: 3rem;
    border-top-left-radius: 30px 10px;
    box-shadow: #3f3f40 0.2rem 0.3rem;
    align-self: center;
    align-content: flex-start;

    background-color: #1897fa;
    font-size: 4rem;
    outline-width: thin;
    padding: 1rem 3rem;
    font-family: 'Font Awesome 5 Free', serif;
}

.section-main-root{
    display: flex;
    flex-direction: column;
}
.main-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-network{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1rem;
}
.btn{
    line-height: 0.5rem;
}
.form-group {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}