<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/commons::head"></head>

<!--<body class="d-flex flex-column" id="body">-->
<body class="body-container">

<header th:replace="fragments/commons::nav"></header>
<section class="error--section">
    <h1>Sorry... we have a server problem</h1>
    <h2>
        <a class="btn btn-outline-info"
           href="/">Go back to Home Page
        </a>
    </h2>
</section>
<footer class="mt-auto" th:replace="fragments/commons::footer"></footer>
</body>
</html>