<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/commons::head"></head>

<body class="d-flex flex-column min-vh-100 bg-secondary">

<header th:replace="fragments/commons::nav"></header>
<br>
<br>
<div class="container">
<div class="card">
    <br>
    <br>
    <br>
    <br>
<h2 class="center-block m-md-auto"> welcome to</h2>
<h1 class="center-block m-md-auto">My Business Manager</h1>
    <br>
    <br>
    <br>
    <br>
</div>
</div>
<br>
<br>
<footer class="mt-auto" th:replace="fragments/commons::footer"></footer>
</body>
</html>