<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/commons::head"></head>
<body class="body-container">
<header th:replace="fragments/commons::nav"></header>
<div th:replace="fragments/commons::orders-nav-all"></div>

<section class="container-orders">
    <section class="order" th:each="o : ${orders}" th:object="${o}">

        <a class="order-body-link" th:href="@{/orders/{id}/order-details(id=*{id})}" th:alt="response">
            <section class="order-body">
                <section class="order-name">
                    <h3>Поръчка от:</h3>
                    <p th:text="*{name}"></p>
                </section>

                <section class="order-added-on">
                    <p class="p-text">Добавен на: </p>
                    <p class="date-time" th:text="*{instantStr}"></p>
                </section>

<!--                <section class="report-edited-on">-->
<!--                    <p class="p-text">Редактиран на: </p>-->
<!--                    <p class="date-time" ></p>-->
<!--                </section>-->

<!--                <section class="report-added-from">-->
<!--                    <p class="p-text">Добавен от: </p>-->
<!--                    <p class="date-time"></p>-->
<!--                </section>-->

                <section class="order-deadline">
                    <h3>Краен Срок:</h3>
                    <p id="deadline"
                       class="text-danger"
                       th:text="*{deadLine}"></p>
                </section>



                <section class="order-more-section">
                    <p class="order-link">Още...</p>
                    <img class="order-img" src="../images/Deks_Logo_BLACK2.jpg">
                </section>

            </section>
        </a>
    </section>
</section>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>