<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/commons::head">

</head>

<body class="d-flex flex-column" id="body">

<header th:replace="fragments/commons::nav"></header>
<br>
<div th:replace="fragments/commons::orders-nav"></div>
<br>

<div class="container">

    <table class="table table-striped table-dark rounded" id="reportsList">

    </table>


    <table class="table table-striped table-dark rounded table-header" >
        <thead class="text-muted thead">

            <th class="tr-header">

            <p>ID</p>
            <p>Name</p>
            <p>Added On</p>
            </th>

        </thead>
        <tbody>
        <tr th:each="o : ${orders}" th:object="${o}">

            <td class="td_order_container">
                <p  th:text="*{id}"></p>
                <a  class="btn text-warning repoName"
                    th:text="*{name}"
                    th:href="@{/orders/{id}/order-details(id=*{id})}"
                    th:alt="response"></a>
                <p class="repoName" th:text="*{created}"></p>

                    <br>


                <p class="text-danger" th:text="*{deadLine}"></p>


            </td>
        </tr>

        </tbody>
    </table>

</div>
<br>
<br>
<br>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>