<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/commons::head"></head>
<body class="body-container">
<header th:replace="fragments/commons::nav"></header>
<div th:replace="fragments/commons::orders-nav-add"></div>

<section class="order-add-body-container">
    <section class="orders-add-container">
        <form class="orders-add-form"
              th:action="@{/orders/add}"
              th:method="POST"
              th:object="${orderAddBindingModel}">
            <section class="add-form-container-">
                <section class="add-name-input-section">
                    <label for="name">Поръчка от клиент:</label>
                    <input autocomplete="off"
                           th:field="*{name}" th:errorclass="is-invalid"
                           type="text" class="orders-add-name-input"
                           id="name" placeholder="напиши тук..." name="name"/>
                </section>
                <div>
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameError"
                           class="form-text bg-danger rounded text-white">error</small>
                </div>
            </section>
            <section class="add-deadline-section">
                <label for="deadline">Краен Срок (Не е задължитено)</label>
                <input th:field="*{deadLine}" th:errorclass="is-invalid" type="datetime-local"
                       class="order-deadline-input" id="deadLine" name="deadline"
                       aria-describedby="deadlineHelpInline">
                <small th:if="${#fields.hasErrors('deadLine')}" th:errors="*{deadLine}" id="deadLineError"
                       class="form-text bg-danger rounded text-white">
                    error
                </small>
            </section>

            <section class="orders-add-textarea-section">
                <label for="description">Допълнителна информация</label>
                <textarea
                        th:field="*{description}"
                        th:errorclass="is-invalid"
                        class="order-description-textarea" id="description" rows="5" placeholder="1. Напиши тук..."></textarea>

                <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" id="descriptionError"
                       class="form-text bg-danger rounded text-white">error</small>
            </section>
            <span class="add-order-button-span">
                <button type="submit" class="add-order-button">Изпрати</button>
        </span>
        </form>
    </section>
</section>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>