<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/commons::head"></head>

<!--<body class="d-flex flex-column" id="body">-->
<body class="body-container">

<header th:replace="fragments/commons::nav"></header>
<div th:replace="fragments/commons::profile"></div>
<section class="container-profile">

    <section class="section-main">


        <section class="overtime-header-nav">
            <h4><span class="h4-currentPage">Edit Overtime</span></h4>
<!--            <section class="overtime-nav">-->
<!--                <a type="button" class="btn-overtime-nav" href="/users/profile">My Profile</a>-->
<!--                <a type="button" class="btn-overtime-nav" href="/overtime">Add Overtime</a>-->
<!--                <a type="button" class="btn-overtime-nav" href="/overtimes">All Overtime</a>-->
<!--            </section>-->
        </section>

        <form class="section-add-extra-job"

                 th:object="${overtimeModel}"
                 th:action="@{/overtimes/{id}/edit(id=*{id})}"
                 th:method="PATCH">

            <div class="input-field-container">
                <label for="date">Date</label>
                <input type="date" id="date"
                       autocomplete="off"
                       th:field="*{date}"
                       th:errorclass="is-invalid"
                       class="input-field if-color"
                       required
                >
            </div>
            <div>
                <small th:if="${#fields.hasErrors('date')}" th:errors="*{date}" id="dateError"
                       class="form-text bg-danger rounded text-white">error</small>
            </div>

            <div class="input-field-container">
                <label for="name">Name</label>
                <input type="text" id="name"
                       autocomplete="off"
                       th:field="*{name}"
                       th:errorclass="is-invalid"
                       placeholder="Name..."
                       class="input-field if-color"
                       required>
            </div>

            <div>
                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameError"
                       class="form-text bg-danger rounded text-white">error</small>
            </div>

            <div class="input-field-container">
                <label for="timeFrom">From</label>
                <input type="time" id="timeFrom"
                       class="input-field if-color"
                       autocomplete="off"
                       th:field="*{timeFrom}"
                       th:errorclass="is-invalid"
                       required
                >
            </div>
            <div>
                <small th:if="${#fields.hasErrors('timeFrom')}" th:errors="*{timeFrom}" id="timeFromError"
                       class="form-text bg-danger rounded text-white">error</small>
            </div>

            <div class="input-field-container">
                <label for="timeTo">To</label>
                <input type="time" id="timeTo"
                       autocomplete="off"
                       th:field="*{timeTo}"
                       th:errorclass="is-invalid"
                       class="input-field if-color"
                       required
                >
            </div>
            <div>
                <small th:if="${#fields.hasErrors('timeTo')}" th:errors="*{timeTo}" id="timeToError"
                       class="form-text bg-danger rounded text-white">error</small>
            </div>


            <div class="input-field-container">

                <label for="overtimeStatusEnum">select Type</label>
                <select class="select-field if-color" id="overtimeStatusEnum" name="overtimeStatusEnum">
                    <option th:each="o : ${T(com.example.mybusinessmanager_final_project.model.entity.enums.OvertimeStatusEnum).values()}"
                            th:value="${o}"
                            th:text="${o}"
                            th:selected="${o} == *{overtimeStatusEnum}">Type
                    </option>
                </select>
            </div>

            <button type="submit" id="postOvertime" class="btn btn--green">Submit</button>

        </form>
        <br>
<!--        <form class="section-edit-extra-job"-->

<!--              th:object="${overtimeModel}"-->
<!--              th:action="@{/overtimes/{id}/edit(id=*{id})}"-->
<!--              th:method="PATCH">-->
<!--            <div class="input-field-container">-->
<!--                <label for="date">Date</label>-->
<!--                <input type="date" id="date"-->
<!--                       autocomplete="off"-->
<!--                       th:value="*{date}"-->
<!--                       th:errorclass="is-invalid"-->
<!--                       class="input-field if-color"-->
<!--                       required-->
<!--                >-->
<!--            </div>-->
<!--            <div>-->
<!--                <small th:if="${#fields.hasErrors('date')}" th:errors="*{date}" id="dateError"-->
<!--                       class="form-text bg-danger rounded text-white">error</small>-->
<!--            </div>-->

<!--            <div class="input-field-container">-->
<!--                <label for="name">Name</label>-->
<!--                <input type="text" id="name"-->
<!--                       autocomplete="off"-->
<!--                       th:value="*{name}"-->
<!--                       th:errorclass="is-invalid"-->
<!--                       placeholder="Name..."-->
<!--                       class="input-field if-color"-->
<!--                       required>-->
<!--            </div>-->

<!--            <div>-->
<!--                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameError"-->
<!--                       class="form-text bg-danger rounded text-white">error</small>-->
<!--            </div>-->

<!--            <div class="input-field-container">-->
<!--                <label for="timeFrom">From</label>-->
<!--                <input type="time" id="timeFrom"-->
<!--                       class="input-field if-color"-->
<!--                       autocomplete="off"-->
<!--                       th:value="*{timeFrom}"-->
<!--                       th:errorclass="is-invalid"-->
<!--                       required-->
<!--                >-->
<!--            </div>-->
<!--            <div>-->
<!--                <small th:if="${#fields.hasErrors('timeFrom')}" th:errors="*{timeFrom}" id="timeFromError"-->
<!--                       class="form-text bg-danger rounded text-white">error</small>-->
<!--            </div>-->

<!--            <div class="input-field-container">-->
<!--                <label for="timeTo">To</label>-->
<!--                <input type="time" id="timeTo"-->
<!--                       autocomplete="off"-->
<!--                       th:field="*{timeTo}"-->
<!--                       th:errorclass="is-invalid"-->
<!--                       class="input-field if-color"-->
<!--                       required-->
<!--                >-->
<!--            </div>-->
<!--            <div>-->
<!--                <small th:if="${#fields.hasErrors('timeTo')}" th:errors="*{timeTo}" id="timeToError"-->
<!--                       class="form-text bg-danger rounded text-white">error</small>-->
<!--            </div>-->


<!--            <div class="input-field-container">-->

<!--                <label for="overtimeStatusEnum">select Type</label>-->
<!--                <select class="select-field if-color" id="overtimeStatusEnum" name="overtimeStatusEnum">-->
<!--                    <option th:each="o : ${T(com.example.mybusinessmanager_final_project.model.entity.enums.OvertimeStatusEnum).values()}"-->
<!--                            th:value="${o}"-->
<!--                            th:text="${o}"-->
<!--                            th:selected="${o} == *{overtimeStatusEnum}">Type-->
<!--                    </option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <button type="submit" id="postOvertime" class="add-btn">Add</button><div class="input-field-container">-->

<!--        </form>-->




<!--        <form  class="section-add-extra-job" id="overtimeForm"-->
<!--               th:action="@{/overtime}"-->
<!--               th:method="POST"-->
<!--               th:object="${overtimeAddBindingModel}"-->
<!--        >-->


<!--            <div class="input-field">-->
<!--                <label for="date">Date</label>-->
<!--                <input type="date" id="date"-->
<!--                       autocomplete="off"-->
<!--                       th:field="*{date}"-->
<!--                       th:errorclass="is-invalid"-->
<!--                >-->
<!--            </div>-->
<!--            <div>-->
<!--                <small th:if="${#fields.hasErrors('date')}" th:errors="*{date}" id="dateError"-->
<!--                       class="form-text bg-danger rounded text-white">error</small>-->
<!--            </div>-->

<!--            <div class="input-field">-->
<!--                <label for="name">Name</label>-->
<!--                <input type="text" id="name"-->
<!--                       autocomplete="off"-->
<!--                       th:field="*{name}"-->
<!--                       placeholder="Customer...">-->
<!--            </div>-->
<!--            <div>-->
<!--                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameError"-->
<!--                       class="form-text bg-danger rounded text-white">error</small>-->
<!--            </div>-->

<!--            <div class="input-field">-->
<!--                <label for="timeFrom">From</label>-->
<!--                <input type="time" id="timeFrom"-->
<!--                       autocomplete="off"-->
<!--                       th:field="*{timeFrom}"-->
<!--                >-->
<!--            </div>-->

<!--            <div class="input-field">-->
<!--                <label for="timeTo">To</label>-->
<!--                <input type="time" id="timeTo"-->
<!--                       autocomplete="off"-->
<!--                       th:field="*{timeTo}"-->
<!--                >-->
<!--            </div>-->

<!--            <div class="input-field">-->
<!--                <label for="overtimeStatusEnum">select Type</label>-->
<!--                <select class="select-field" id="overtimeStatusEnum" name="overtimeStatusEnum">-->
<!--                    <option th:each="o : ${T(com.example.mybusinessmanager_final_project.model.entity.enums.OvertimeStatusEnum).values()}"-->
<!--                            th:value="${o}"-->
<!--                            th:text="${o}"-->
<!--                            th:selected="${o} == *{overtimeStatusEnum}">Type-->
<!--                    </option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <button type="submit" id="postOvertime">Add</button>-->


<!--        </form>-->





<!--        <section class="container-extra-job" th:each="o : ${overtimes}" th:object="${o}">-->
<!--            <span>27-09-2022</span>-->
<!--            <span>Speedy - Велико Търново</span>-->
<!--            <span>8 часа</span>-->
<!--            <div class="status"></div>-->
<!--            <button>Промени</button>-->
<!--            <button>Изтий</button>-->
<!--        </section>-->

        <!--        <section class="container-extra-job">-->
        <!--            <span>27-09-2022</span>-->
        <!--            <span>Speedy - Велико Търново</span>-->
        <!--            <span>8 часа</span>-->
        <!--            <div class="status"></div>-->
        <!--            <button>Промени</button>-->
        <!--            <button>Изтий</button>-->
        <!--        </section>-->



    </section>
    <!--    <aside class="aside" th:object="${user}">-->

    <!--        <div class="user-data-field" th:text="'username: '+ *{username}">username: Test</div>-->
    <!--        <div class="user-data-field" th:text="'First Name: ' + *{firstName}">First Name: Test</div>-->
    <!--        <div class="user-data-field" th:text="'Last Name: ' + *{lastName}">Last Name: Test</div>-->
    <!--        <div class="user-data-field" th:text="'Email: ' + *{email}">Email: Test</div>-->
    <!--        <a href="/users/profile/changePassword" class="btn-user-data-field">Change Password</a>-->
    <!--        <a href="/users/profile/user-settings" class="btn-user-data-field">Settings</a>-->

    <!--    </aside>-->

</section>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>