<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/commons::head"></head>

<body class="d-flex flex-column" id="body">

<header th:replace="fragments/commons::nav"></header>

<section class="container-profile">

    <section class="section-main">

        <h4>Извънреден труд</h4>

        <form  class="section-add-extra-job" id="overtimeForm"
               th:method="POST"

               th:action="@{/api/users/profile}">


            <div class="input-field">
                <label for="date">Date</label>
                <input type="date" id="date">
            </div>

            <div class="input-field">
                <label for="name">Name</label>
                <input type="text" id="name">
            </div>

            <div class="input-field">
                <label for="timeFrom">From</label>
                <input type="time" id="timeFrom">
            </div>

            <div class="input-field">
                <label for="timeTo">To</label>
                <input type="time" id="timeTo">
            </div>

            <div class="input-field">
                <select>
                    <option>PAID</option>
                    <option>NOT_PAID</option>
                </select>
            </div>

            <button type="submit">Add</button>


        </form>

<!--        -->
<!--        <section class="section-edit-extra-job">-->

<!--            <div class="input-field">-->
<!--                <label for="date">Дата</label>-->
<!--                <input type="date" id="date">-->
<!--            </div>-->

<!--            <div class="input-field">-->
<!--                <label for="text">Обект</label>-->
<!--                <input type="text" id="text">-->
<!--            </div>-->

<!--            <div class="input-field">-->
<!--                <label for="date-from">От</label>-->
<!--                <input type="time" id="date-from">-->
<!--            </div>-->

<!--            <div class="input-field">-->
<!--                <label for="date-to">До</label>-->
<!--                <input type="time" id="date-to">-->
<!--            </div>-->

<!--            <div class="input-field">-->
<!--                <select>-->
<!--                    <option>Платено</option>-->
<!--                    <option>Не Платено</option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <button>Промени</button>-->


<!--        </section>-->

<!--        <section class="container-extra-job">-->
<!--            <span>27-09-2022</span>-->
<!--            <span>Speedy - Велико Търново</span>-->
<!--            <span>8 часа</span>-->
<!--            <div class="status"></div>-->
<!--            <button>Промени</button>-->
<!--            <button>Изтий</button>-->
<!--        </section>-->

<!--        <section class="container-extra-job">-->
<!--            <span>27-09-2022</span>-->
<!--            <span>Speedy - Велико Търново</span>-->
<!--            <span>8 часа</span>-->
<!--            <div class="status"></div>-->
<!--            <button>Промени</button>-->
<!--            <button>Изтий</button>-->
<!--        </section>-->



    </section>
    <aside class="aside" th:object="${user}">

        <div class="user-data-field" th:text="'username: '+ *{username}">username: Test</div>
        <div class="user-data-field" th:text="'First Name: ' + *{firstName}">First Name: Test</div>
        <div class="user-data-field" th:text="'Last Name: ' + *{lastName}">Last Name: Test</div>
        <div class="user-data-field" th:text="'Email: ' + *{email}">Email: Test</div>
        <a href="/users/profile/changePassword" class="btn-user-data-field">Change Password</a>
        <a href="/users/profile/user-settings" class="btn-user-data-field">Settings</a>

    </aside>

</section>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>