<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/commons::head"></head>
<body class="body-container">
<header th:replace="fragments/commons::nav"></header>

<section class="container-profile">

    <section class="section-main">
        <section class="overtime-header-nav">
            <h4><span class="h4-currentPage">Моят Профил</span></h4>
        </section>
    </section>

    <aside class="aside" th:object="${user}">
        <div class="user-data-field" th:text="'Потребителско име: '+ *{username}"></div>
        <div class="user-data-field" th:text="'Име: ' + *{firstName}">First Name: Test</div>
        <div class="user-data-field" th:text="'Фамилия: ' + *{lastName}">Last Name: Test</div>
        <div class="user-data-field" th:text="'Email: ' + *{email}">Email: Test</div>
        <a href="/users/profile/changePassword" class="btn-user-data-field">Смени Парола</a>
        <a href="/users/profile/user-settings" class="btn-user-data-field">Промени Данните</a>
    </aside>
</section>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>