<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/commons::head">
</head>
<body class="body-container">

<header th:replace="fragments/commons::nav"></header>
<div th:replace="fragments/commons::reports-nav"></div>

<section class="container-reports">
    <section class="report" th:each="r : ${reports}" th:object="${r}">

        <div class="report-body">
            <img class="report-img"
                 src="../images/Deks_Logo_BLACK2.jpg">
            <h3 th:text="'Клиент/Обект: ' + *{name}"></h3>
            <div class="wrapper-date">
                <p class="p-text">Добавен на: </p>
                <p class="date-time" th:text="*{instantCreatedStr}"></p></div>
            <div class="wrapper-date">
                <p class="p-text">Редактиран на: </p>
                <p class="date-time" th:text="*{instantModifiedStr}"></p>
            </div>
            <div class="wrapper-date">
                <p class="p-text">Добавен от: </p>
                <p class="date-time" th:text="*{authorFullName}"></p>
            </div>
            <p id="status" th:class="${r.reportStatusEnum.name() == 'CHECKED'} ? 'text-success' : 'text-danger'"
               th:text="'Статус: Отчетен'"></p>
            <p
                    id="type"
                    th:text="'Вид: ' + (${r.reportTypeEnum.name() == 'REPORT'} ? 'Отчет' :
                     (${r.reportTypeEnum.name() == 'OFFER'} ? 'Оферта'))"
                    th:class="${r.reportTypeEnum.name() == 'REPORT'} ? 'text-info' : 'text-success'"
            >
            </p>
            <a class="link" th:href="@{/reports/{id}/report-details(id=*{id})}">Детайли...</a>
        </div>
    </section>
</section>

<div class="container">
    <div class="input-group-append justify-content-md-center">
        <input
                id="searchInput"
                type="search"
                class="btn-group form-control"
                placeholder="Search..."
                aria-label="Search">
    </div>

    <table class="table table-striped table-dark rounded" id="reportsList">
    </table>
</div>
<footer th:replace="fragments/commons::footer"></footer>
<script th:src="@{/js/reports-search.js}"></script>
</body>
</html>