<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/commons::head"></head>

<body class="d-flex flex-column" id="body">

<header th:replace="fragments/commons::nav"></header>
<br>
<div th:replace="fragments/commons::reports-nav"></div>
<input type="hidden" name="reportId" id="reportId" th:value="${report.id}">
<section class="report-details-container">

    <section class="report-details-section-outer">

        <section class="report-details-section-inner" th:object="${report}">
            <h3 class="report-details-job_name" th:text="'Обект: '+ *{name}">Job 1</h3>
            <h3 class="report-details-status" th:text="'Статус: ' + *{reportStatusEnum}">Status</h3>
            <h3 class="report-details-type" th:text="'Тип: ' + *{reportTypeEnum}">Type</h3>
            <h4 class="report-details-description" th:text="'Описание: '"></h4>
            <textarea class="report-details-textarea"
                      rows="12"
                      th:text="*{description}"
                      readonly
            >Lorem...</textarea>
            <table class="justify-content-end">
                <tbody>
                <tr>
                    <td>
                        <th:block th:if="*{isOwner}">

                            <a class="btn btn--green btn--dark btn-link" th:href="@{/reports/{id}/edit(id=*{id})}">Редактирай</a>

                        </th:block>
                    </td>
                    <td>

                        <th:block th:if="*{canDelete}">
                            <button type="button" class="btn btn--red btn--dark" data-toggle="modal"
                                    data-target="#deleteReportModal">
                                Изтрий
                            </button>
                        </th:block>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteReportModal" tabindex="-1" role="dialog"
                             aria-labelledby="deleteReportModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteReportModalLabel">Опитвате се да изтрите
                                            отчета!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Сигурни ли сте?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори
                                        </button>
                                        <th:block th:if="*{canDelete}">
                                            <form th:action="@{/reports/{id}(id=*{id})}" th:method="delete">
                                                <button type="submit" class="btn btn--red btn-dark">Да!</button>
                                            </form>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </section>

    <section class="comments-section">
        <section class="add-comment-section">
            <h2 class="text-white">Добави Коментар</h2>
            <form class="add-comment-form" id="commentForm" method="POST"
                  th:action="@{/api/{reportId}/comments(reportId=${report.id})}">
                <textarea
                        name="message"
                        id="message"
                        cols="30"
                        rows="6"
                        class="form-control add-comment-form__textarea"
                        style="background-color: white;"
                        placeholder="Напиши коментар..."
                ></textarea>
                <small id="messageError" class="invalid-feedback">
                    Моля въведете текст
                </small>
                <div class="form-group">
                    <input type="submit"
                           class="btn btn-outline-info text-white"
                           id="postComment"
                           value="Добави"/>
                </div>
            </form>
        </section>
        <section class="comments-section__container">
            <section class="view-comment-container" id="commentContainer"></section>
        </section>
    </section>

    <section class="picture-section">
        <section class="add-picture-section">
            <h2>Добави Снимка</h2>
            <form
                    class="add-picture-form"
                    id="pictureForm"
                    th:action="@{/reports/{reportId}/report-details/pictures/add(reportId=${report.id})}"
                    th:method="POST"
                    enctype="multipart/form-data">

                <input class="picture-title-input" type="text" name="title" placeholder="Заглавие ( Не е задължително )"/>
                <input class="select-picture-input" name="picture" type="file" value="Избери файл">
                <input class="btn btn-outline-info text-white postPicture" type="submit" value="Добави Снимка"/>

            </form>
        </section>
        <section class="view-picture-section" id="pictureContainer">
<!--            <span class="card-body-cloudinary" ></span>-->
        </section>
    </section>

</section>

<script th:src="@{/js/comments.js}"></script>
<script th:src="@{/js/pictures.js}"></script>
<script th:src="@{/js/modal.js}"></script>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>