<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/commons::head"></head>

<body class="body-container">
<header th:replace="fragments/commons::nav">
    <link rel="stylesheet" href="/css/reports.css">
</header>
<div th:replace="fragments/commons::reports-nav-all"></div>

<section class="container-reports">
    <section class="report" th:each="r : ${reports}" th:object="${r}">

        <a class="report-body-link" th:href="@{/reports/{id}/report-details(id=*{id})}">
            <section class="report-body">
                <section class="report-name">
                    <h3>Клиент и Обект:</h3>
                    <p th:text="*{name}"></p>
                </section>

                <section class="report-added-on">
                    <p class="p-text">Добавен на: </p>
                    <p class="date-time" th:text="*{instantCreatedStr}"></p>
                </section>

                <section class="report-edited-on">
                    <p class="p-text">Редактиран на: </p>
                    <p class="date-time" th:text="*{instantModifiedStr}"></p>
                </section>

                <section class="report-added-from">
                    <p class="p-text">Добавен от: </p>
                    <p class="date-time" th:text="*{authorFullName}"></p>
                </section>

                <section class="report-status">
                    <h3>Статус:</h3>
                    <p id="status"
                       th:class="${r.reportStatusEnum.name() == 'UNCHECKED'} ? 'text-danger' : 'text-success'"
                       th:text="'Неотчетен'"></p>
                </section>

                <section class="report-type">
                    <h3>Вид:</h3>
                    <p id="type"
                       th:text="(${r.reportTypeEnum.name() == 'REPORT'} ? 'Отчет' :
                     (${r.reportTypeEnum.name() == 'OFFER'} ? 'Оферта'))"
                       th:class="${r.reportTypeEnum.name() == 'REPORT'} ? 'text-info' : 'text-success'"
                    ></p>
                </section>

                <section class="more">
                    <p class="link">Още...</p>
                    <img class="report-img" src="../images/Deks_Logo_BLACK2.jpg">
                </section>

            </section>
        </a>
    </section>
</section>

<div class="container">
    <div class="input-group-append justify-content-md-center">
        <input
                id="searchInput"
                type="search"
                class="btn-group form-control"
                placeholder="Search..."
                aria-label="Search">
    </div>
    <table class="table table-striped table-dark rounded" id="reportsList"></table>
</div>

<footer th:replace="fragments/commons::footer"></footer>
<script th:src="@{/js/reports-search.js}"></script>
</body>
</html>